

/* Global */

span{
    font-family: "BigCaslon-Medium", "Didot W01 Roman", "Times New Roman", Times, Georgia, serif;
    font-size: 20px;
}

/* X Global X */

.main-img{
    background-image: url('../assets/zena.jpg') ;
    background-size: cover;
    background-position: center;
}

.top-cat{
     background-position: center; 
     background-size: contain; 
}

.cat-title{
    width: 100%;
    text-align: center;
    position: relative;
    right: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.cat-title h1{
    text-align: center;
}


.cat-wrapper{
    margin-top: 50px;
}
.cat-wrapper ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    -webkit-justify-content: space-evenly;
    padding: 0;
}

.cat-wrapper ul li{
    list-style-type: none;
    
}

.products{
    margin-top: 100px;
    justify-content: space-around;
    -webkit-justify-content: space-evenly !important;
}

#product-title{
    height: auto;
    text-align: center;
}

#product-title p{
    padding-top: 80px;
}

#product-image{
height: 400px;
width: 100%;
}

#product-image img{
    height: inherit;
    width: 100%;
}

.active {
    color: #996F00!important;
    border-bottom: 1px solid #996F00;
}
.tablink:hover{
    cursor: pointer;
}

.product:hover{
    border: 1px solid #996F00;
}

.product{
    width: 30%;
    margin: 0 10px;
    border: 1px solid #fff
}

.products{
    flex-wrap: wrap;
}

@media (max-width:600px){
    .products{
    flex-direction: column;
    width: 80%;
    margin: auto;
}
.product{
    width: 80%;
    margin: auto;
}

}
