.top-coll{
    background-position: center;
    background-size: cover;
}

.coll-title{
    text-align: center;
    position: relative;
    top: 50%;
}

.coll-wrap{
    margin-top: 50px;
}

.coll-wrap ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
}

.coll-wrap ul li{
 list-style-type: none;
}


.products{
    margin-top: 100px;
    justify-content: space-around;
    -webkit-justify-content: space-evenly !important;
    display: flex;
    flex-wrap: wrap;
}

#product-title{
    height: 100px;
    text-align: center;
}

#product-title p{
    padding-top: 80px;
}

#product-image{
height: 400px;
width: 100%;
position: relative;
}

#product-image img{
    height: 100%;
    width: 100%;
}

#product-image ul{
    margin: 0;
}

.product:hover{
    border: 1px solid #996F00;
}

.product{
    width: 30%;
    margin: 0 10px;
    border: 1px solid #fff
}

.active1 {
    color: #996F00!important;
    border-bottom: 1px solid #996F00;
} 
.tablink:hover{
    cursor: pointer;
}

.container{
    width: 30%;
    height: 400px;
    margin: 100px 10px;
    padding: 0;
    position: relative;
}

.carousel{
    height: 100%;

}

.carousel-inner{
    height: 100%;
}

.item{
    height: 100%;
}

.item img{
    height: 100%!important;
}

.navbar-collapse.collapse {
    display: flex!important;
}



@media (max-width:600px){
    .products{
        flex-direction: column;
        width: 80%;
        margin: auto;
    }
    .product{
        width: 80%;
        margin: auto;
    }
}



